

.gallery{
    width: 90%;
    margin: 100px auto;
}

.photos {
    display: flex;
    justify-content: space-between;
}


.photos div{
    flex-basis: 23%;
}

.photos img{
    width: 100%;
    border-radius: 10px;
}

.bttn{
    margin-top: 30px;
    justify-self: center;
}
.bttn button{
    color: white;
    background-color: #212ea0;
    padding: 15px 20px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    cursor: pointer;
}


.bttn img{
    width: 25px;
}

/* media query*/
@media (max-width:730px){
    .photos{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    
    .photos div{
        width: 350px;
    }
}